@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
.main-container{
    position: relative;
    top: 30px;
    margin: 0 auto;
    width: 87%;
    border: 2px solid #00ff00;
    box-shadow: 0px 0px 20px 5px #00ff00; 
    border-radius: 10px;
    padding: clamp(.5rem, 3vw, 2rem);
    height: 270vh;
    overflow: hidden;
}

.header-main{
    position: relative;
    top: -40px;
    left: -40px;
    width: 120%;
    height: 1020px;
    background-color: rgba(17, 17, 17, 0.7);;
    border-bottom: 1px dashed  #00ff00; 
    box-shadow: 0px 0px 8px 2px #00ff00; 
    overflow: hidden;
    z-index: 10; 
}

.content{
    position: relative;
    top: -40px;
    left: -40px;
    width: 120%;
    height: 980px;
    background-color: rgba(17, 17, 17, 0.7);;
    border-bottom: 1px dashed #00ff00;
    box-shadow: 0px 0px 8px 2px #00ff00; 
    overflow: hidden;
    z-index: 9;
}

.content ul{
    position: absolute;
    right: 30%;
    top: 40%;
}

footer{
    position: relative;
    top: -40px;
    left: -40px;
    width: 120%;
    height: 250px;
    background-color: rgba(17, 17, 17, 0.7);;
    overflow: hidden;
    z-index: 8;
}

#logo{
position: relative;
    top: 30px;
    font-size: 35px;
    text-transform: uppercase;
    text-shadow: 2px 2px #002200, 4px 4px #001100;
}