@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
.main-container{
    position: relative;
    top: 30px;
    margin: 0 auto;
    width: 87%;
    border: 2px solid #0074a2;
    box-shadow: 0px 0px 20px 5px #0074a2; 
    border-radius: 10px;
    padding: clamp(.5rem, 3vw, 2rem);
    height: 270vh;
    overflow: hidden;
}

.header-main{
    position: relative;
    top: -40px;
    left: -40px;
    width: 120%;
    height: 1020px;
    background-color: rgba(17, 17, 17, 0.7);
    border-bottom: 1px dashed  #0074a2; 
    box-shadow: 0px 0px 8px 2px #0074a2; 
    overflow: hidden;
    z-index: 10; 
}

.content{
    position: relative;
    top: -40px;
    left: -40px;
    width: 120%;
    height: 980px;
    background-color: rgba(17, 17, 17, 0.7);
    border-bottom: 1px dashed #0074a2;
    box-shadow: 0px 0px 8px 2px #0074a2; 
    overflow: hidden;
    z-index: 9;
}

.content ul{
    position: absolute;
    right: 30%;
    top: 40%;
}

footer{
    position: relative;
    top: -40px;
    left: -40px;
    width: 120%;
    height: 250px;
    background-color: rgba(17, 17, 17, 0.7);
    overflow: hidden;
    z-index: 8;
}

#division{
    position: absolute;
    top: 170px;
    background-color: #0074a2;
    box-shadow: 0px 0px 8px 2px #0074a2; 
    width: 120%;
    height: 2px;
}

#logo{
    position: absolute;
    top: 45px;
    left: 50%;
    transform: translate(-65%, -20%) skewX(-15deg);
    color: #ffcc00;
    font-size: 45px;
    text-transform: uppercase;
    text-shadow: 3px 3px #ff0000,  
    2px 2px #ff6600,  
    1px 1px #cc9900;
}

#me{
    position: absolute;
    width: 450px;
    top: 30%;
    right: 73%;
}

.speech-bubble {
    position: absolute;
    top: 20%;
    left: 30%;
    color: #ffffff; 
    padding: 15px 25px;
    border-radius: 60px;
    border: 2px solid #ffffff;
    font-size: 14px;
    width: 50%;
    height: 77%;
    text-align: center;
    box-shadow: 4px 4px 0px #222; 
  }
  
  
  .speech-bubble::after {
    content: "";
    position: absolute;
    top: 20%;
    left: -20px; 
    transform: translateY(-50%);
    border-width: 10px;
    border-style: solid;
    border-color: transparent #fffefe transparent transparent;  
}
  
.line {
    display: block; 
  }

  a {
    text-decoration: none; /* Remove o sublinhado */
    color: inherit; /* Herda a cor do elemento pai */
}

  a i {
    text-decoration: none; /* Remove o sublinhado do i */
    color: inherit; /* Faz o i herdar a cor do texto do link */
}