<div class="main-container"> 

<header class="header-main">

<nav class="main-nav"></nav>

<h1 id="logo">Samantha Viera Freitas</h1>
<div id="division"></div>
<img src="e-animation.gif" id="me" alt="pixel-gif">
<div class="presentation-txt">
    <h3>Olá, mundo! Eu sou a Samantha!</h3>
    <p>
        Sou programadora fullstack, apaixonada por transformar ideias em código. <br>
        Do front ao back-end, desenvolvo soluções digitais intuitivas, dinâmicas e bem estruturadas. <br>
        Vamos tirar projetos do papel e construir algo incrível!☕✨
    </p>
</div>
<div class="skills">
    <div class="skills-container">
        <div class="habilidades"><h3>Habilidades</h3></div>

        <div class="back-skills">
            <h4>Back-End</h4>
        </div>
        <div class="front-skills">
            <h4>Front-End</h4>
        </div>

    </div>
</div>
</header>

<main class="content">
    <ul class="projects-list">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
</main>

<footer>
    <nav>
        <a href="https://github.com/samanthavf" target="_blank">
            <i> <img src="github.png" alt="github"></i>
        </a>
        
        <a href="https://www.linkedin.com/in/samanthavf-dev/" target="_blank">
            <i><img src="linkedin.png" alt="linkedin"></i>
        </a>
    </nav>

    <nav class="nav-2">
        <a href="mailto:samantha3490@gmail.com"><i>Email</i></a>
    </nav>
</footer>

</div>
