<div class="main-container"> 

<header class="header-main">
<nav class="main-nav"></nav>
<h1 id="logo">Samantha Viera Freitas</h1>
<img src="e-animation.gif" id="me" alt="pixel-gif">
</header>

<main class="content">
    <ul class="projects-list">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
</main>

<footer>
    <nav>
        <a href=""></a>
        <a href=""></a>
        <a href=""></a>
    </nav>
</footer>

</div>
