<div class="main-container"> 

<header class="header-main">

<nav class="main-nav"></nav>

<h1 id="logo">Samantha Viera Freitas</h1>
<div id="division"></div>
<img src="e-animation.gif" id="me" alt="pixel-gif">

<div class="speech-bubble">
    <div class="typing"></div>
 </div>
  
</header>

<main class="content">
    <ul class="projects-list">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
</main>

<footer>
    <nav>
        <a href="https://github.com/samanthavf" target="_blank">
            <i class="link-github"> <img src="github.png" alt="github"></i>
        </a>
        
        <a href="https://www.linkedin.com/in/samanthavf-dev/" target="_blank">
            <i><img src="linkedin.png" alt="linkedin"></i>
        </a>
    </nav>

    <nav>
        <a href="mailto:samantha3490@gmail.com"><i>Email</i></a>

    </nav>
</footer>

</div>
